langchain
langgraph
langsmith
qdrant-client
streamlit
openai
python-dotenv
PyPDF
pytest
langchain_groq
langchain_community
langchain_qdrant
sentence-transformers
langchain-huggingface==0.0.3
pydantic
requests==2.32.3 